@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div {
	font-family: 'Montserrat',
		sans-serif;
}

.Container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
	background-image: url(../../Commons/Statics/img/background.jpg);
}

.imgsvg {
	width: 100%;
	max-width: 640px;
}