<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Home</title>
</head>
<style>

.file_loader {
    width: 60%;
    height: 40%;
    border: 4px dashed grey;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: grey;
}
.file_loader i{
    font-size: 5vw;
    margin-bottom: 1rem;
}

</style>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<div id="file_loader" class="file_loader">
			<i class="fas fa-upload"></i>
			<span>Drag files</span>
		</div>
		<input type="button" value="try!" id="test"/>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}"/>
			</li>
		</ul>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="/js/fileTest.js"></script>
	<script src="../static/js/fileTest.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded",() => {
			init();
		});
	</script>
</body>
</html>