<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login!</title>
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <div id="world_svg"></div>
        <div class="card" id="card">
            <div class="card_header">
                <a href="tab:login" class="card_tab active">
                    <span>Login</span>
                    <span>Hello There!</span>
                </a>
                <a href="tab:register" class="card_tab">
                    <span>Sign in</span>
                    <span>New in town, huh?</span>
                </a>
            </div>
            <form action="" method="POST" name="f">
                <div class="card_body active" id="login">
                    <div class="centered_column form_logo">
                        <img src="img/icon.png" alt=""/>
                    </div>
    
                    <div class="centered_column">
                        <div class="form_input">
                            <span class="form_input-icon"><i class="fas fa-user"></i></span>
                            <input type="text" class="form_input-text" aria-label="Username" placeholder="Username"
                                id="login_username" name="username" />
                        </div>
        
                        <div class="form_input">
                            <span class="form_input-icon"><i class="fas fa-unlock-alt"></i></span>
                            <input type="password" class="form_input-text" aria-label="Password" placeholder="Password" 
                                id="login_password" name="password"/>
                        </div>
                    </div>
    
                    <div class="centered_column card_body-end">
                        <div class="centered_row form_options">
                            <div>
                                <input type="checkbox" name="remember_me" id="remember_me" class="form_input-check"/>
                                <label class="form_option-label">Remember me</label>
                            </div>
                            <div>
                                <a href="#" class="form_option-anchor">Forgot your password?</a>
                            </div>
                        </div>
                        <input type="submit" value="Login" class="form_input-button" id="login_button" />
                    </div>
    
                </div>
    
                <div class="card_body" id="register">
                    <div class="centered_column form_logo">
                        <img src="img/icon.png" alt=""/>
                    </div>
                    <div class="centered_column">
                        <div class="form_input">
                            <span class="form_input-icon"><i class="far fa-user"></i></span>
                            <input type="text" class="form_input-text" aria-label="Name" placeholder="Name"
                                id="reg_name" name="username" />
                        </div>
    
                        <div class="form_input">
                            <span class="form_input-icon"><i class="fas fa-user"></i></span>
                            <input type="text" class="form_input-text" aria-label="Username" placeholder="Username"
                                id="reg_username" name="username" />
                        </div>
    
                        <div class="form_input">
                            <span class="form_input-icon"><i class="fas fa-envelope"></i></span>
                            <input type="text" class="form_input-text" aria-label="Username" placeholder="Mail"
                                id="reg_mail" name="mail" />
                        </div>
        
                        <div class="form_input">
                            <span class="form_input-icon"><i class="fas fa-unlock-alt"></i></span>
                            <input type="password" class="form_input-text" aria-label="Password" placeholder="Password" 
                                id="reg_password" name="password"/>
                        </div>
                    </div>
                    <div class="centered_column card_body-end">
                        <input type="submit" value="Sign in" class="form_input-button" id="signin_button" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/LoginWindowManager.js"></script>
    <script src="../static/js/login.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded",() => {
            loginService.init();
        });
    </script>
</body>
</html>