@import url("../CardUI/CardUI.css");

.window {
	width: 95vw;
	height: 95vh;
	border-radius: 0.75rem;
}

.pop_up {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.pop_up.active {
	display: flex;
}

.pop_up-body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

.pop_up .card {
	background-color: var(--color-dark-grey);
	height: auto;
	box-shadow: 0px 5px 30px -7px #000000;
}

.pop_up-body .card_body {
	padding: 1rem;
	animation: none;
	box-shadow: none;
}

.pop_up-body form_input-button {
	background-color: red;
}