*, *::after, *::before {
    margin: 0px;
}

body {
    background-image: url("https://i.gifer.com/1amw.gif");
    background-position: center;
    background-size: 83%;
    background-color: #1A0933;
    /*background-size: cover;*/
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-check:nth-child(n){
    font-size: small;
}

.form-options {
    padding: 2vh;
    justify-content: space-between;
}

.submit-btn {
    width: 40%;
}

.width-card {
    width: 25vw;
}