@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div {
	font-family: 'Montserrat',
		sans-serif;
}

*,
*::after,
*::before {
	padding: 0px;
	margin: 0px;
	outline: none;
}

img {
	width: 100%;
	max-width: 100px;
}

:root {
	--color-dark-grey: #2a363b;
	--font-light: rgba(255, 255, 255, 0.75);
	--font-dark: rgba(42, 54, 59, 0.67);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
	background-image: url(../img/background.jpg);
}

.centered_row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
}

.centered_column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
}

.card {
	width: 25vw;
	height: 60vh;
	border-radius: 0.75rem;
}

.register_card {
	height: 70vh;
}

.card_header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #2a363b;
	height: 8%;
	border-top-right-radius: 0.75rem;
	border-top-left-radius: 0.75rem;
}

.card_tab {
	min-height: 26px;
	min-width: 100px;
	display: flex;
	justify-content: center;
	margin: 0px 0px 0px 1em;
	padding-left: 0.25rem;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 0.25rem;
	width: auto;
	height: 26px;
	font-size: medium;
	cursor: pointer;
	color: rgba(42, 54, 59, 0.67);
	transition: all 0.2s;
}

.card_tab:hover {
	background-color: rgba(255, 255, 255, 0.35);
}

.card_tab.active {
	min-width: 190px;
	width: 190px;
	font-size: medium;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: auto;
	color: rgba(42, 54, 59, 0.67);
}

.card_tab span:first-child {
	width: auto;
	opacity: 100%;
	display: block;
}

.card_tab span:nth-child(2) {
	opacity: 0%;
	width: 0%;
	display: none;
}

.card_tab span:nth-child(2) {
	opacity: 0%;
	width: 0%;
	display: none;
}

.card_tab i:last-child {
	display: none;
}

.card_tab.active i:last-child {
	display: block;
}

.card_tab.active span:first-child {
	opacity: 0%;
	width: 0%;
	display: none;
}

.card_tab.active span:nth-child(2) {
	display: block;
	width: auto;
	cursor: default;
	opacity: 100%;
	transition: opacity 0.3s;
}

.card_tabs {
	display: flex;
	background-color: white;
	height: 7%;
}

.card_body {
	display: flex;
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
	/* Maybe no (?)*/
	-webkit-box-shadow: 0px 5px 30px -7px #000000;
	box-shadow: 0px 5px 30px -7px #000000;
}

.card_body {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #2a363b;
}

.card_body.active {
	display: flex;
	animation: fadeIn 0.75s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.form_options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0.25rem 0px 2rem 0px;
}

.form_option-label {
	font-size: smaller;
	color: rgba(255, 255, 255, 0.75);
}

.form_option-anchor {
	color: #0872DF;
	font-size: smaller;
	text-decoration: none;
}

a {
	text-decoration: none;
}


.form_logo {
	margin-top: 4vh;
	margin-bottom: 4vh;
}

.card_body-end {
	margin-top: 2rem;
	margin-bottom: 4rem;
}