.window {
	width: 95vw;
	height: 95vh;
	border-radius: 0.75rem;
}

.pop_up {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.pop_up.active {
	display: flex;
}

.pop_up-body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

.pop_up .card {
	background-color: var(--color-dark-grey);
	height: auto;
	box-shadow: 0px 5px 30px -7px #000000;
}

.pop_up-body .card_body {
	padding: 1rem;
	animation: none;
	box-shadow: none;
}

.pop_up-body form_input-button {
	background-color: red;
}

.window {
	width: 95vw;
	height: 95vh;
	border-radius: 0.75rem;
}

.window_header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--color-dark-grey);
	height: 6%;
	border-top-right-radius: 0.75rem;
	border-top-left-radius: 0.75rem;
}

.window_header-btn {
	display: flex;
	align-items: center;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	margin-left: auto;
	margin-right: 0.5rem;
	color: var(--font-light);
	transition: background-color 0.2s ease-out;
}

.window_header-btn:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.window_header-btn.desactive {
	color: rgba(255, 255, 255, 0.25);
}

.window_header-btn.desactive:hover {
	background-color: transparent;
}

.window_header-tabs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding-left: 1rem;
}

.window_header-tab-bar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow-x: hidden;
	width: 90%;
	max-width: 1237px;
}

.window_body {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 94%;
	background-color: var(--color-dark-grey);
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
}

.pop_up {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.pop_up.active {
	display: flex;
}

.pop_up-body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

.pop_up .card {
	background-color: var(--color-dark-grey);
	height: auto;
	box-shadow: 0px 5px 30px -7px #000000;
}

.pop_up-body .card_body {
	padding: 1rem;
	animation: none;
	box-shadow: none;
}

.pop_up-body form_input-button {
	background-color: red;
}

.window_rooms-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: var(--font-light);
	height: 100%;
}

.window_rooms-btn.active {
	background-color: rgba(255, 255, 255, 0.5);
}

.window_rooms-btn i:first-child {
	font-size: larger;
	margin-right: 0.25em;

}

.window_rooms-btn i:last-child {
	font-size: small;
	margin-left: 0.25em;
}

.window_body .content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.window_rooms-menu {
	width: 0%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 0.75rem;
	transition: 0.5s width;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.window_rooms-menu.active {
	width: 22.5%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 0.75rem;
}

.window_rooms-menu .content {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: flex-start;
	height: 100%;
	opacity: 0%;
	transition: 0.25s opacity ease;

}

.window_rooms-menu.active .content {
	opacity: 100%;
}

.file_loader-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.file_loader {
	width: 60%;
	height: 40%;
	border: 4px dashed rgba(255, 255, 255, 0.25);
	border-radius: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: x-large;
	color: rgba(255, 255, 255, 0.25);
}

.file_loader i {
	font-size: 5vw;
	margin-bottom: 1rem;
}

.file_loader-btn {
	margin-top: 2vh;
	padding: 0.375rem 0.75rem;
	border: none;
	border-radius: 0.35rem;
	background-color: rgba(255, 255, 255, 0.25);
	color: rgba(255, 255, 255, 0.375);
	transition: background-color 0.2s ease-out;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.file_loader-btn:disabled,
.file_loader-btn:disabled:hover {
	background-color: rgba(255, 255, 255, 0.125);
	color: rgba(255, 255, 255, 0.25);
}

.file_loader-btn:hover {
	background-color: rgba(255, 255, 255, 0.375);
}

.window_rooms-menu-subgroup {
	display: flex;
	width: 90%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 5vh;
	margin-left: 1vw;
}

.window_rooms-menu-subgroup .title {
	color: rgba(255, 255, 255, 0.125);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.window_rooms-menu-subgroup .title .window_header-btn {
	color: rgba(255, 255, 255, 0.125);
	font-size: x-small;
	margin-left: auto;
}

.window_rooms-menu-subgroup .title .window_header-btn:hover {
	background-color: rgba(255, 255, 255, 0.125);
	color: rgba(255, 255, 255, 0.2);
}

.window_rooms-menu-subgroup .content {
	display: flex;
	width: 95%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 1vh;
	margin-left: 1vw;
}

.room-btn {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0.375rem 0.75rem;
	border-radius: 0.375rem;
	width: 85%;
	height: 3vh;
	color: rgba(255, 255, 255, 0.25);
	transition: background-color 0.2s ease-out;
	margin-bottom: 0.5vh;
}

.room-btn:hover {
	background-color: rgba(255, 255, 255, 0.125);
}

.room-btn.active {
	background-color: rgba(255, 255, 255, 0.25);
}

.room-btn i:last-child {
	margin-left: auto;
	display: none;
}

.room-btn i:first-child {
	margin-right: 5%;
}

.room-btn.active i:last-child {
	margin-left: auto;
	display: block;
}

@keyframes fadeInContent {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

.file_text-area {
	width: 70%;
	height: 80%;
	background-color: rgba(0, 0, 0, 0.125);
	border: none;
	padding: 0.375rem 0.75rem;
	resize: none;
	border-radius: 0.375rem;
	color: rgba(255, 255, 255, 0.5);
}

.room_menu {
	position: fixed;
	left: 15vw;
	padding: 0.375rem 0.75rem;
	display: none;
	flex-direction: row;
	width: 20%;
	height: 2vh;
	align-items: center;
	justify-content: space-between;
	font-size: small;
	font-weight: bold;
	background-color: #959B9D;
	border: none;
	border-radius: 0.25rem;
	color: var(--font-light);
	animation: slideIn 0.375s;
}

.room_menu.active {
	display: flex;
	left: 19.5vw;
}

.room_menu .checkbox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 7vw;
}

.room_menu .room_menu-input {
	border: none;
	border-radius: 0.25rem;
	padding: 0.1625rem 0.375rem;
	background-color: rgba(255, 255, 255, 0.5);
}

.room_menu i {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 0.25rem;
	padding: 0.1625rem 0.375rem;
}

.room_menu i:hover {
	background-color: rgba(255, 255, 255, 0.5);
}


@keyframes slideIn {
	from {
		opacity: 0%;
		left: 15vw;
	}

	to {
		opacity: 100%;
		left: 19.5vw;
	}
}