<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="window" id="window">
            <div class="window_header">
                <div class="window_header-tabs">
                    <div id="window_rooms-btn" class="window_rooms-btn window_header-btn">
                        <i class="fas fa-columns"></i>
                        <span>|</span>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <i class="fas fa-less-than window_header-btn header_scroll-btn"></i>

                    <div class="window_header-tab-bar" id="window_header-scroll-bar"></div>

                    <i class="window_header-btn fas fa-greater-than header_scroll-btn"></i>
                    <i class="window_header-btn fas fa-plus desactive" id="add_tab-btn"></i>
                </div>
            </div>
            <div class="window_body">
                <div id="window_rooms-menu" class="window_rooms-menu ">
                    <div class="content">
                        <div class="window_rooms-menu-subgroup">
                            <div class="title">
                                <h5>Rooms</h5>
                                <i class="window_header-btn fas fa-plus" id="add_room-btn"></i>
                                <div class="room_menu" id="room_menu">
                                    <input type="text" id="room_menu-input" class="room_menu-input" placeholder="Room"/>
                                    <div class="checkbox">
                                        <input type="checkbox" id="room_menu-cb"/>
                                        <label for="room_menu-cb"> Create room?</label>
                                    </div>
                                    <i class="fas fa-paper-plane" id="room_menu-btn"></i>
                                </div>
                            </div>
                            <div class="content" id="window_menu-rooms"></div>
                        </div>
                        <div class="window_rooms-menu-subgroup">
                            <div class="title">
                                <h5>Files</h5>
                            </div>
                            <div class="content" id="window_menu-files"></div>
                        </div>
                    </div>
                </div>
                <div class="content" id="window_body-content"></div>
            </div>
        </div>
    </div>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/WindowManager.js"></script>
    <script src="js/RoomManager.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded",() => {
            windowManager.init();
        });
    </script>
</body>
</html>